body, html{
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  caret-color: transparent;
  user-select: none;
}

input,
textarea,
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  caret-color: auto; /* Ensures the caret is visible */
  user-select: text; /* Allows text selection */
}

html,* {
   font-family: "Cairo", sans-serif ; 
}